@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

/* Header */

header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.486);
}

.HeaderText {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 85%;
  margin: 0 auto;
  line-height: 100px;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: #27667b;
}

a:active {
  color: red;
}

a:hover {
  text-decoration: underline;
}

.boxShadow {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.navBar {
  display: flex;
  gap: 10px;
}

.fixButton {
  width: 110px;
  height: 40px;
  background-color: whitesmoke;
  border-radius: 15px;
  border: none;
}

.buttonPlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playButton {
  width: 50px;
}

.fixButton:hover {
  color: whitesmoke;
  background-color: #27667b;
  cursor: pointer;
}

.fixButton:focus {
  border: 1px solid #27667b;
}

/* End Of Header */

.main {
  display: flex;
  width: 85%;
  margin: 0 auto;
  gap: 50px;
  /* background-color: #a1e3f9; */
}

.mainLeftSide nav p:nth-child(2) {
  border-right: 2px solid #3fa6dd;
}

nav > p {
  cursor: pointer;
}

.main .mainLeftSide {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: sideways-lr;
}

.main .mainLeftSide nav {
  display: flex;
  gap: 50px;
}

/* Main Right Side */
.main .mainRightSide {
  display: flex;
  background-color: rgba(156, 156, 156, 0.171);
  padding: 50px;
  border-radius: 50px;
}

/* Inner Left Side */
.containerInnerLeftSide {
  /* background-color: #27667b; */
  width: 100%;
  display: flex;
  gap: 2px;
}

.itemBoxInnerLeftSide2,
.itemBoxInnerLeftSide {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.itemBoxInnerLeftSide2 {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.itemY {
  box-shadow: 15px 15px 48px -13px rgba(0, 0, 0, 0.8);
}

.itemX {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 85%;
  height: 100%;
}

.itemY {
  width: 70%;
  height: 65%;
  border-radius: 10px;
}

.contentInnerImage {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
  height: 70px;
  background-color: rgba(245, 245, 245, 0.527);
  border-radius: 10px;
  padding: 10px;
  bottom: 15px;
  left: 5px;
}

.contentInnerImage2 {
  bottom: 230px;
  left: 6px;
}

.contentTextInnerImageRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.innerContentText {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.manyStars {
  display: flex;
  justify-content: flex-end;
}

.innerContentText1 {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.item1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
}

.item1 img {
  width: 50px;
  border-radius: 50%;
}

.item1Text {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.item1Text1 {
  font-weight: normal;
}

.item2 {
  display: flex;
  justify-content: space-between;
  width: 110%;
  padding: 20px;
  gap: 20px;
}

.imageBorder {
  border: 2px solid whitesmoke;
}

.item2Image {
  background-image: url("https://i.pinimg.com/736x/2f/8f/52/2f8f523a8a1a764454ad371332ef44f9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 15px 15px 48px -13px rgba(0, 0, 0, 0.8);
}

.item2Contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.manyImages {
  position: relative;
  height: 100%;
}

.manyImages > img {
  box-shadow: 15px 15px 48px -13px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 40%;
  height: 100%;
}

.img1 {
  position: absolute;
  box-shadow: 15px 15px 48px -13px rgba(0, 0, 0, 0.8);
  left: 0;
}
.img2 {
  position: absolute;
  box-shadow: 15px 15px 48px -13px rgba(0, 0, 0, 0.8);
  left: 60px;
}
.img3 {
  position: absolute;
  box-shadow: 15px 15px 48px -13px rgba(0, 0, 0, 0.8);
  left: 120px;
}

/* End Of Inner Left Side */

/* Inner Right Side */

.contentTextInnerRightSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}

.contentTextInnerRightSide h2 {
  font-size: 3.5rem;
}

.contentTextInnerRightSide h2::first-letter {
  font-size: 6rem;
  color: #3a94b3;
}

.contentTextInnerRightSide p {
  font-size: large;
  width: 300px;
}

.buttonExplore button {
  width: 110px;
  height: 40px;
  color: whitesmoke;
  background-color: #27667b;
  cursor: pointer;
  border-radius: 15px;
  border: none;
}

.buttonExplore {
  display: flex;
  gap: 10px;
}

.buttonExplore span {
  width: 40px;
  height: 40px;
  color: #27667b;
  background-color: whitesmoke;
  font-size: larger;
  border-radius: 60%;
  border: none;
  line-height: 40px;
  text-align: center;
}

.buttonExplore span:hover {
  cursor: pointer;
  border: 1px solid #27667b;
}

/* Section 2 */
/* Left Side */
.secondSection {
  display: flex;
  width: 73%;
  margin: 0 auto;
  /* background-color: #a1e3f9; */
  padding-bottom: 100px;
}

.contentsTextLeftSide {
  /* background-color: #27667b; */
  width: 100%;
}

.contentsTextLeftSide h2 {
  font-size: 2rem;
  width: 100%;
}

.contentsTextLeftSide button {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: 40px;
  font-weight: 600;
  color: #27667b;
  background-color: white;
  border: 1px solid #27667b;
  cursor: pointer;
  border-radius: 15px;
  transition: ease-in 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contentsTextLeftSide button:hover {
  transition: ease-out 1s;
  color: white;
  background-color: #27667b;
}

.contentsTextLeftSide button:focus {
  color: white;
  background-color: orange;
  border: 1px solid rgb(212, 178, 113);
}

/* Right Side */

.contentsImagesLeftSide {
  display: flex;
  gap: 20px;
  height: 450px;
}

.card {
  box-shadow: 15px 15px 48px -13px rgba(0, 0, 0, 0.8);
  border: 10px solid rgba(245, 245, 245, 0.753);
  border-radius: 8%;
  height: 300px;
  width: 200px;
  transition: ease-in 1s;
}

.card img {
  width: 200px;
  height: 300px;
}

.card1 {
  border-radius: 5%;
  display: flex;
  align-self: start;
}

.card2 {
  border-radius: 5%;
  display: flex;
  align-self: flex-end;
}

.card3 {
  border-radius: 5%;
  display: flex;
  align-self: center;
}

.img,
.card:hover {
  transition: ease-out 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}

/* Section 3 */

.section3 {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 auto;
}

.headContainer {
  text-align: center;
}

.headContainer h2 {
  font-size: 2rem;
}

.mainContainer3 {
  display: flex;
}

.containerLeft {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  gap: 50px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text span {
  color: white;
  background-color: #27667b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.containerRight {
  width: 50%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageRightSideText {
  position: relative;
}

.containerRight img {
  width: 350px;
  height: auto;
  border-radius: 8px;
  box-shadow: 15px 15px 48px -13px rgba(0, 0, 0, 0.8);
}

.profile {
  background-color: rgba(245, 245, 245, 0.76);
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  height: 50px;
  position: absolute;

  display: flex;
  gap: 10px;
}

.profileImageCol {
  display: flex;
  flex-direction: column;
}

.heartsRow {
  display: inline-flex;
}

.profile .profileImage1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile1 {
  top: 50px;
  left: -80px;
}

.profile2 {
  right: -80px;
  top: 200px;
}

.profile3 {
  position: absolute;
  left: -80px;
  bottom: 100px;
}

#footer {
  background-color: whitesmoke;
  color: #0077b6;
  text-align: center;
  padding: 20px;
}

.buttonGoUp {
  position: fixed;
  color: white;
  background-color: rgba(25, 138, 214, 0.781);
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 50px;
  right: 10px;
}

/* End Of Main */
